body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgba(186, 126, 243, 0.856);
    --a-color: #eee;
    --h1-color: #eee;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  p {
  color: var(--text-color);
  }
  
  button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
  }