<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 40px; color:rgb(106, 161, 89) " class="fas fa-shipping-fast">&nbsp;
            <strong style=>AnimeSQL <div class="brand logo">
                <img src = "assets/img/lotus.png" alt="~Lotus~">
            </div></strong>
            
        </i>
              <div class="nav">
                
                <div class ="nav-items">
                  <div class="search">
                      <input type="text" class="search-box" placeholder="What do you figure?">
                      <button class ="search-btn"> search</button>
                  </div>
                  <div class ="dark-mode align-item-center d-flex">
                    <button (click)="toggleDarkTheme()">Dark Theme</button>
                  </div>
                  
                  </div>
              </div>
              
        <a routerLink="/cart" class="button fancy-button">
        <i class="material-icons">cart</i>
        </a>
        
        
    </div>
    <ul class="links-container">
      <li class="link-item"><a routerLink="/home" class="button fancy0-button">Home</a></li>
      <li class="link-item"><a routerLink="/figurines" class="button fancy0-button">Figurines</a></li>
      <li class="link-item"><a routerLink="/manga" class="button fancy0-button">Manga</a></li>
      <li class="link-item"><a routerLink="/video" class="button fancy0-button">Video</a></li>
  </ul>
    </div>
  </header>
