*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;


}

.header{
 position: sticky;
 top:0;
 left:0;
 width: 100%;
 background: #ECECEC;
 z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo{
    position: relative; left: 23px;
    display: flex;
}

.navbar{
   display: flex;
}

.navbar-brand{
    position:relative; right: 10px; 
}
.search{
    width: 500px;
    display: flex;
    
}

.search-box{
    width: 80%;
    height: 30px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    text-transform: none;
    background: #fff;
    color: #5e5e5e;
    outline: none;
}

.search-btn{
    width: 20%;
    height: 30px;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #f78888;
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.search-box::placeholder{
    color: #a9a9a9
}

nav.items a{
    margin-left: 20 px;
}

nav.items a img{
    width:30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.dark-mode{
    position: relative; left: 20px;
}

.material-icons{
    position:relative; left:120px;
    display: flex;
}