@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  height: 70%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac27,#01dbdf0a);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
  size-adjust: 100%;
}

.wrapper .left h4{
  margin-bottom: 10px;
  font-size: 500%;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-size-adjust: 90%;
}

.wrapper .right .info_data,
.wrapper .right .orders_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .orders_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .orders_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .orders_data .data p{
  font-size: 25px;
  margin-bottom: 10px;
  color: #919aa3;
  align-content:stretch;
}

.wrapper .social_media ul{
  display:flex;
  color: #00000027;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#66dbff);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  color :rgb(255, 255, 255);
  padding: 0px 4px;
  font-size: 18px;
}

.data{
align-content: center;

}

body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}


.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border: 5px solid #000;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}